<header class="navbar">
 <div class="nav-left">
  <h1 class="site-title">
    <span class="neon-letter">B</span>ar.
  </h1>
</div>


  <nav class="nav-right" aria-label="Primary">
    <ul>
      <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/protfolio" routerLinkActive="active">Portfolio</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
</header>
